<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RaspberryPi LEDs</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body>
  <header class="bar bar-nav">
      <a class="icon icon-refresh pull-right"></a>
    <h1 class="title">RasPi GPIO LEDs</h1>
  </header>
  <div class="container">
    <div class="row">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="" id="red-led" >
          Red LED
        </label>
      </div>
    </div>
    <div class="row">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="" id="green-led" >
          Green LED
        </label>
      </div>
    </div>
    <div class="row">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="" id="blue-led" >
          Blue LED
        </label>
      </div>
    </div>
    <div class="row">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="" id="yellow-led" >
          Yellow LED
        </label>
      </div>
    </div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
